.App {
  box-shadow: 0 0 50px #eba82c09; 
  border-radius: 16px;
  padding: 0; 
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, 
    #1a1a1a, 
    #eba82c,
    #1a1a1a
  );
  margin: 3rem 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-card {
  background: #2a2a2a; 
  border: 1px solid #eba82c; 
  animation: fadeIn 0.8s ease-out;
}

.main-card h2 {
    font-size: 2.5rem;
    color: #ffffff; 
    margin-bottom: 0.2rem;
}

.main-card p {
    font-size: 1.1rem;
    color: #cccccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888888;
}